@import "tailwindcss";

@theme {
  --color-primary: rgb(var(--primary-rgb));
}

:root {
  color-scheme: dark;
  --primary-rgb: 59 130 246;
  /* Default Blue */
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Custom Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}